body {
	margin: 0;
	font-family: proxima-nova, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

p,
blockquote,
ul {
	font-size: 1.25rem;
	line-height: 2rem;
}
